asn1crypto==1.5.1
asn1tools==0.164.0
bitstruct==8.15.1
certifi==2022.9.24
charset-normalizer==2.1.1
diskcache==5.4.0
ecdsa==0.18.0
ecpy @ file:///home/pedro/code/ballot-election-2022-brazil/ECPy
ed25519==1.5
idna==3.4
prompt-toolkit==3.0.31
pyparsing==3.0.9
requests==2.28.1
six==1.16.0
urllib3==1.26.12
wcwidth==0.2.5
aiohttp==3.8.3
aiofiles==22.1.0
